<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cs496_pj2_ui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE-EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/meeting"
        android:label="@string/app_name"
        android:roundIcon="@drawable/meeting"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS496_PJ2_UI"
        tools:targetApi="31">
        <activity
            android:name=".board.BoardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".board.BoardAddActivity"
            android:exported="false" />
        <activity
            android:name=".promise.PromiseActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileDailyScheduleAddActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileDailyScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileMonthlyScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>